.AllClasses {
    margin: 0px;
    padding: 5px;
    margin: auto
}

.AllClasses > h2, .Class, .ButtonClass {
        margin-left: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 100px;
        padding: 5px;
    }

.Class {
    background-color: #40E0D0;
}

    .Class > pre, p {
        margin: 4px;
        font-size: 14px;
    }
.ButtonClass {
    
}

    .ButtonClass > pre, p {
        margin: 4px;
        font-size: 14px;
    }

* {
    margin: 0px;
    font-family: 'Freckle Face', cursive;
}

input {
    background-color: #32CD32;
    border-style: solid;
    border-width: 2px;
    color:#ffffff;
    border-color:#ffffff;
    
}

html, body {
    height: 100%;
    background: radial-gradient(circle at center, #FF00FF, /* Magenta */
    #00FFFF, /* Cyan */
    #FFFF00, /* Yellow */
    #FF4500, /* Sunset Orange */
    #800080 /* Psychedelic Purple */
    );
    animation: trippyGradient 1.25s ease infinite;
}

@keyframes trippyGradient {
    0% {
        background: radial-gradient(circle at center, #FF00FF, #00FFFF, #FFFF00, #FF4500, #800080);
    }

    25% {
        background: radial-gradient(circle at center, #800080, #FF00FF, #00FFFF, #FFFF00, #FF4500);
    }

    50% {
        background: radial-gradient(circle at center, #FF4500, #800080, #FF00FF, #00FFFF, #FFFF00);
    }

    75% {
        background: radial-gradient(circle at center, #FFFF00, #FF4500, #800080, #FF00FF, #00FFFF);
    }

    100% {
        background: radial-gradient(circle at center, #00FFFF, #FFFF00, #FF4500, #800080, #FF00FF);
    }
}

header {
    background-color: #FFD700;
    text-align: center;
    font-size: 40px;
    font-family: 'Monoton', cursive;
    color: #ffffff
}

div {
    background-color: #b31942;
    font-size: 14px;
}

.NavBar {
    background: radial-gradient(circle at center, #FF00FF, /* Magenta */
    #00FFFF, /* Cyan */
    #FFFF00, /* Yellow */
    #FF4500, /* Sunset Orange */
    #800080 /* Psychedelic Purple */
    );
    color: #40E0D0;
    overflow: hidden;
    width: 20px;
    float: left;
    height: 100vh;
}
.NavBar > a{
    color:#ffffff;
    display: none
    
}
.NavBar:hover{
    width: 100px;
    font-size:12px
    
}
.NavBar:hover > a{
    color: #ffffff;
    display:block;
    
   
    
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-left: 100px;
    
    margin-right: 100px;
}
code{
    color:#ffffff
}
button {
    background-color: #32CD32;
    border-style: solid;
    border-width: 2px;
    color: #ffffff;
    border-color: #ffffff;
    font-size: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@keyframes wave {
    100% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }
}

.hippie-text {
    display: inline-block;
    animation: wave 0.5s infinite;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


