.AllClasses {
    margin: 0;
    padding: 5px;
    background-color: #002a5d;
}

    .AllClasses > h2, .Class {
        margin: 10px;
        padding: 5px;
    }

.Class {
    background-color: #ffffff;
}

    .Class > pre, p {
        margin: 4px;
        font-size: 14px;
    }

* {
    margin: 0px;
    font-family: 'Comic Sans MS';
}

input {
    background-color: #b31942;
    border-style: solid;
    border-width: 2px;
    color:#ffffff;
    border-color:#ffffff;
    
}

body {
    background-color: #002a5d;
}

header {
    background-color: #b31942;
    text-align: center;
    font-size: 40px;
    font-family: Haettenschweiler;
    color: #ffffff
}

div {
    background-color: #b31942;
    font-size: 14px;
}

nav {
    background-color: #002a5d;
    border-style: solid;
    border-width: 2px;
}
a{
    color: #ffffff;
    
    
}
h1{
    text-align:center;
    font-size:36px;
    color: #ffffff
}
code{
    color:#ffffff
}
