
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body{
    background-color: #0D1117;
    animation: Animation_1 1.00s ease infinite;
    color: #C9D1D9;
    

}
header{
    text-align: center;
}
.NavBar {
    background-color:#1b2431;
    color: #C9D1D9;
    overflow: hidden;
    width: 20px;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: width 0.3s ease;
}
.NavBar > a{
    color:#C9D1D9;;
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
    
}
.NavBar:hover{
    width: 100px;
    
    
}
.NavBar:hover > a{
    color: #C9D1D9;;
    display:block;
    font-size: 	0.9375rem;
    opacity: 1;
}
.Content{
    margin-left: 100px;
   
}
.DragBox{
    width: 100px;
    height: 100px;
    position: relative;
    background: #fff;
    float: left;
    margin-right: 10px;
}

.Content_Box{
    background-color:#1b2431;
    color: #C9D1D9;
    border-radius: 15px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
   

    
    
} 
p{
    font-family: "VT323", monospace;
    color: #C9D1D9;
    font-size: 20px;
}
h2{
    font-family: "Press Start 2P", system-ui;
    color: #C9D1D9;
}
header{
    font-family: "Press Start 2P", system-ui;
    color: #C9D1D9;
}
.Drop_Box{
    background-color: #C9D1D9;
    animation: eyeHurtingAnimation 0.2s infinite;
    width: 150px;
    height: 84px;
    position: relative;
    margin: 20px;
}
